@font-face {
  font-family: "ArchivoBlack";
  src: url(../fonts/ArchivoBlack/ArchivoBlack-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans/OpenSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans/OpenSans-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans/OpenSans-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "OpenSans", Arial, sans-serif;
  background-color: #111111;
  color: #ffffff;
}

.main {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1440px;
  margin: auto;
  padding: 0 120px;
  background:
    radial-gradient(
      70% 40% at 70% 20%,
      rgba(108, 99, 255, 0.35),
      rgba(17, 17, 17, 0) 40%
    ),
    radial-gradient(
      50% 30% at 50% 90%,
      rgba(108, 99, 255, 0.45),
      rgba(17, 17, 17, 0) 70%
    ),
    #111111;
}

.hero {
  display: flex;
  flex-direction: row;
  padding: 40px 0;
  gap: 20px;
}

.hero__info {
  display: flex;
  flex-direction: column;
}

.hero__title {
  font-family: "ArchivoBlack";
  font-size: 72px;
  width: 793px;
  margin-bottom: 0;
}

.hero__role {
  margin: 15px 0;
  color: #ffffff80;
  font-size: 18px;
}

.hero__description {
  margin: 15px 0 30px 0;
  line-height: 1.5;
}

.hero__nav {
  display: flex;
  gap: 30px;
  list-style: none;
}

.hero__link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  background-image: linear-gradient(90deg, #14c27a 0%, #6d6dff 100%);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100% 5px;
  padding-bottom: 10px;
}

.hero__photo-wrapper {
  position: relative;
  width: 387px;
  height: 500px;
  flex-shrink: 0;
  overflow: hidden;
}

.hero__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.skills__title {
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 400;
  font-family: "ArchivoBlack";
}

.skills__logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.skills__logo {
  width: 50px;
  height: 50px;
}

.projects {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.projects__title {
  font-size: 40px;
  font-weight: 400;
  font-family: "ArchivoBlack";
}

.projects__list {
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.card {
  background: #1c1c1c;
}

.projects__item {
  width: 100%;
  height: auto;
}

.card__image {
  width: 100%;
  height: 330px;
}

.card__image-wrapper {
  position: relative;
}

.card__logos {
  position: absolute;
  left: 16px;
  bottom: 16px;
  display: flex;
  gap: 10px;
}

.card__logo {
  width: 40px;
  height: 40px;
}

.card__info {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  font-family: "OpenSans", Arial, sans-serif;
}

.card__description {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 0;
}

.card__links {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.card__link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #6d6dff;
}

.card__info-js {
  display: flex;
  flex-direction: column;
  min-height: 365px;
}

.card__info-js .card__links {
  margin-top: auto;
}

.contact {
  min-height: 343px;
  padding: 100px 0;
}

.contact__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contact__title {
  margin: 0;
  font-size: 40px;
  font-weight: 400;
  font-family: "ArchivoBlack";
}

.contact__text {
  font-size: 18px;
  font-weight: 400;
  font-family: "OpenSans", Arial, sans-serif;
  color: #6d6dff;
}

.contact__links {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 80px;
}
